---
layout: default
title: "About"
---

<h1>Archive</h1>

<!-- TODO: generate the year header tags -->
<h2>2023</h2>

{% for post in site.posts %}

  {% capture month_of_current_post %}
    {{ post.date | date: "%B" }}
  {% endcapture %}

  {% capture month_of_previous_post %}
    {{ post.previous.date | date: "%B" }}
  {% endcapture %}

  
  {% if forloop.first %}
    <h3>{{ month_of_current_post }}</h3>
    <ul>
  {% endif %}

  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>
    —
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>

  {% if forloop.last %}
    </ul>
  {% elsif month_of_current_post != month_of_previous_post %}
    </ul>

    <h3>{{ month_of_previous_post }}</h3>
    <ul>
  {% endif %}

{% endfor %}
