.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: teal;
  color: #fff;
}

header {
  border-bottom: 1px solid rgb(0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  border-bottom: 1px solid rgb(0, 0, 0);
}
