.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
}

body {
  min-height: 100vh;
  margin: 0
}

header {
  min-height: 50px;
  background: lightcyan;
  border-bottom: 1px solid rgb(0, 0, 0);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  padding-right: 10px;
}

footer {
  min-height: 50px;
  background: papayawhip;
  border-top: 1px solid rgb(0, 0, 0);
}
