body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 70%;
  margin: 0 auto;
}

header {
  background-color:blanchedalmond
}

main {
  background-color: rgb(217, 245, 230);
  flex: 1;
}

footer {
  background-color:aliceblue
}
