<!DOCTYPE html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/images/favicon.svg" />
  <link rel="stylesheet" href="/themes/styles.css" />
  <link rel="stylesheet" href="/themes/prism.css" />

  <title>{{ page.title }}</title>
</head>

<body>
  <script src="/scripts/hamburger.js"></script>
  <script src="/scripts/prism.js"></script>

  <header>
    <div class="site-header-top">
      <a href="/">Rasmus Källqvist's Blog</a>
      <button class="hamburger">
        <div class="hamburger-open">
          <div class="hamburger-bar"></div>
          <div class="hamburger-bar"></div>
          <div class="hamburger-bar"></div>
        </div>
        <div class="hamburger-close">&times;</div>
      </button>
    </div>
    <nav class="site-header-nav">
      <ul>
        <li><a href="/archive.html">Archive</a></li>
        <li><a href="/about.html">About</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>© Rasmus Källqvist 2023</p>
  </footer>
</body>
